{
  "openapi": "3.0.3",
  "info": {
    "title": "Tiao API",
    "version": "1.0.0",
    "description": "REST API and WebSocket protocol for Tiao, the open-source multiplayer board game platform."
  },
  "servers": [
    {
      "url": "https://tiao.ricos.site/api",
      "description": "Production server"
    },
    {
      "url": "http://localhost:5005/api",
      "description": "Local development server"
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Guest and account session management"
    },
    {
      "name": "Profile",
      "description": "Account profile management"
    },
    {
      "name": "Games",
      "description": "Multiplayer game rooms"
    },
    {
      "name": "Matchmaking",
      "description": "Automatic opponent pairing"
    },
    {
      "name": "Social",
      "description": "Friends, friend requests, and game invitations"
    }
  ],
  "paths": {
    "/api/games": {
      "get": {
        "summary": "List the current player's games",
        "tags": [
          "Games"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of games",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "games": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MultiplayerSnapshot"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "post": {
        "summary": "Create a new multiplayer game",
        "tags": [
          "Games"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "201": {
            "description": "Game created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot": {
                      "$ref": "#/components/schemas/MultiplayerSnapshot"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/games/{gameId}/join": {
      "post": {
        "summary": "Join an existing game",
        "tags": [
          "Games"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "gameId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Joined the game",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot": {
                      "$ref": "#/components/schemas/MultiplayerSnapshot"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/games/{gameId}/access": {
      "post": {
        "summary": "Access a game (join or spectate)",
        "tags": [
          "Games"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "gameId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Game accessed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot": {
                      "$ref": "#/components/schemas/MultiplayerSnapshot"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/games/{gameId}": {
      "get": {
        "summary": "Get a game snapshot",
        "tags": [
          "Games"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "gameId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Game snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "snapshot": {
                      "$ref": "#/components/schemas/MultiplayerSnapshot"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/matchmaking": {
      "post": {
        "summary": "Enter matchmaking queue",
        "tags": [
          "Matchmaking"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Entered matchmaking",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matchmaking": {
                      "$ref": "#/components/schemas/MatchmakingState"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "get": {
        "summary": "Get current matchmaking status",
        "tags": [
          "Matchmaking"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Matchmaking state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "matchmaking": {
                      "$ref": "#/components/schemas/MatchmakingState"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "500": {
            "description": "Server error"
          }
        }
      },
      "delete": {
        "summary": "Leave matchmaking queue",
        "tags": [
          "Matchmaking"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "204": {
            "description": "Left matchmaking"
          },
          "401": {
            "description": "Not authenticated"
          },
          "500": {
            "description": "Server error"
          }
        }
      }
    },
    "/api/games/{gameId}/test-finish": {
      "post": {
        "summary": "Force-finish a game (development only)",
        "tags": [
          "Games"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "gameId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "winner"
                ],
                "properties": {
                  "winner": {
                    "type": "string",
                    "enum": [
                      "white",
                      "black"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Game finished",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not allowed in production"
          },
          "500": {
            "description": "Failed to finish game"
          }
        }
      }
    },
    "/api/player/social/overview": {
      "get": {
        "summary": "Get social overview (friends, requests, invitations)",
        "tags": [
          "Social"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "responses": {
          "200": {
            "description": "Social overview",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "overview": {
                      "$ref": "#/components/schemas/SocialOverview"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Account required"
          },
          "404": {
            "description": "Account not found"
          },
          "503": {
            "description": "Social features unavailable"
          }
        }
      }
    },
    "/api/player/social/search": {
      "get": {
        "summary": "Search for players by name or email",
        "tags": [
          "Social"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 2
            },
            "description": "Search query (display name or exact email)"
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "player": {
                            "type": "object",
                            "properties": {
                              "playerId": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "profilePicture": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              }
                            }
                          },
                          "relationship": {
                            "type": "string",
                            "enum": [
                              "friend",
                              "incoming-request",
                              "outgoing-request",
                              "none"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Query too short (minimum 2 characters)"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Account required"
          },
          "404": {
            "description": "Account not found"
          },
          "503": {
            "description": "Social features unavailable"
          }
        }
      }
    },
    "/api/player/social/friend-requests": {
      "post": {
        "summary": "Send a friend request",
        "tags": [
          "Social"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "accountId"
                ],
                "properties": {
                  "accountId": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Friend request sent"
          },
          "400": {
            "description": "Missing accountId or cannot add yourself"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Account required"
          },
          "404": {
            "description": "Target player or account not found"
          },
          "409": {
            "description": "Already friends or pending request exists"
          },
          "503": {
            "description": "Social features unavailable"
          }
        }
      }
    },
    "/api/player/social/friend-requests/{accountId}/accept": {
      "post": {
        "summary": "Accept a friend request",
        "tags": [
          "Social"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID of the requester"
          }
        ],
        "responses": {
          "200": {
            "description": "Friend request accepted"
          },
          "400": {
            "description": "No pending friend request from that player"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Account required"
          },
          "404": {
            "description": "Player or account not found"
          },
          "503": {
            "description": "Social features unavailable"
          }
        }
      }
    },
    "/api/player/social/friend-requests/{accountId}/decline": {
      "post": {
        "summary": "Decline a friend request",
        "tags": [
          "Social"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID of the requester"
          }
        ],
        "responses": {
          "200": {
            "description": "Friend request declined"
          },
          "400": {
            "description": "No pending friend request from that player"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Account required"
          },
          "404": {
            "description": "Player or account not found"
          },
          "503": {
            "description": "Social features unavailable"
          }
        }
      }
    },
    "/api/player/social/friend-requests/{accountId}/cancel": {
      "post": {
        "summary": "Cancel an outgoing friend request",
        "tags": [
          "Social"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Account ID of the target player"
          }
        ],
        "responses": {
          "200": {
            "description": "Friend request cancelled"
          },
          "400": {
            "description": "No outgoing request to that player"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Account required"
          },
          "404": {
            "description": "Player or account not found"
          },
          "503": {
            "description": "Social features unavailable"
          }
        }
      }
    },
    "/api/player/social/game-invitations": {
      "post": {
        "summary": "Send a game invitation to a friend",
        "tags": [
          "Social"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "gameId",
                  "recipientId",
                  "expiresInMinutes"
                ],
                "properties": {
                  "gameId": {
                    "type": "string"
                  },
                  "recipientId": {
                    "type": "string"
                  },
                  "expiresInMinutes": {
                    "type": "number",
                    "minimum": 5,
                    "maximum": 10080
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Existing invitation updated"
          },
          "201": {
            "description": "Invitation sent"
          },
          "400": {
            "description": "Missing fields or invalid expiration duration"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Account required, not in the room, or recipient is not a friend"
          },
          "404": {
            "description": "Recipient or account not found"
          },
          "409": {
            "description": "Game is finished or recipient already in the room"
          },
          "503": {
            "description": "Social features unavailable"
          }
        }
      }
    },
    "/api/player/social/game-invitations/{invitationId}/revoke": {
      "post": {
        "summary": "Revoke a pending game invitation",
        "tags": [
          "Social"
        ],
        "security": [
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "in": "path",
            "name": "invitationId",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID of the invitation to revoke"
          }
        ],
        "responses": {
          "200": {
            "description": "Invitation revoked"
          },
          "401": {
            "description": "Not authenticated"
          },
          "403": {
            "description": "Account required"
          },
          "404": {
            "description": "Invitation not found or no longer active"
          },
          "503": {
            "description": "Social features unavailable"
          }
        }
      }
    }
  },
  "components": {}
}